language: ruby
sudo: false
rvm:
  - 2.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4
cache: bundler
script:
  - bundle exec rspec

after_success:
  - bundle exec codeclimate-test-reporter

addons:
  postgresql: "9.3"

env:
  - RSPEC_VERSION="<2.99"
  - RSPEC_VERSION="~>3.0
